NODE_ENV=development
PORT=5881
MONGODB_URI=
JWT_SECRET=
JWT_EXPIRES_IN=9999d
CORS_ORIGINS=*
LOG_LEVEL=info
UPLOAD_PATH=./uploads
MAX_FILE_SIZE=2097152
MAIL_MAILER=log
MAIL_FROM_ADDRESS=noreply@shop365.com
MAIL_FROM_NAME=Shop365
POS_PRODUCTS_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_ROOT_FOLDER=shop365